<!-- HTML -->
<div>
	The quick 
	<span class="inline">brown</span>
	<span class="inline">fox</span>jumps
	<span class="block">over</span>
	<span class="block">the</span>
	<span class="inlineblock">lazy</span>
	<span class="inlineblock">dog.</span>
</div>
<style>
	/* BLOCK STYLING */
	span.block {
		display: block;
		width: 100px;
		height: 100px;
		padding: 5px;
		border: 1px solid #ff0000;
		background-color: black;
		color: white; /* Makes the font white*/
	}
	
	/* INLINE STYLING */
	span.inline {
		/* the default for span is inline */
		display: inline;
		width: 100px; /* ignored */
		height: 100px; /* ignored */
		border: 1px solid blue;
		background-color: #fefefe;
	}
	
	div {
		margin: 10px 0px;
	}
	
	/* INLINE BLOCK STYLING */
	span.inlineblock {
		display: inline-block;
		width: 100px;
		height: 100px;
		padding: 5px;
		border: 1px solid blue;
		background-color: yellow;
	}
</style>
